.suggestion-container {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  list-style-type: none;
}

.suggestion-item {
  color: #475569;
  font-family: 'Roboto';
  font-size: 10px;
  margin: 0;
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .suggestion-item {
    font-size: 18px;
  }
}

.suggestion-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.arrow-icon {
  height: 15px;
  width: 15px;
}

@media screen and (min-width: 768px) {
  .arrow-icon {
    height: 24px;
    width: 24px;
  }
}